@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --color: #1A2C42;
  --background-color: #ECAF44;
  --secondary-color: #BE2F29;
  --second-back-color: #f3cf8e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--color);
  background-color: var(--background-color);
  line-height: 1.6;
}

main {
  min-height: 82vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color);
}

@media (max-width: 650px) {
  .navbar .logo {
    display: none;
  }
}
